# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
image/
gallery/

# Environment variables
.env

# Django stuff
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# Model files
*.h5
*.pt
*.pth
*.pkl
*.faiss
*.joblib

# Test / coverage
.coverage
htmlcov/
.pytest_cache/

# Temporary files
*.tmp
*.temp